<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	
	 <!-- <link rel="stylesheet" type="text/css" href="./resources/css/style.css"> -->
	
	

	
</head>
<body>

<div id="app" class="container" style="margin-top: 50px; max-width:600px;">
	<div class="row col-md-12">
		<table class="table table-bordered center-box" v-for="car in allcars" style="width:800px;">
		 	<thead style="background-color: lightgrey">
		 		<tr>
					<th>Car Number</th>
					<th>Driver Name</th>
					<th>Departure Time</th>
					<th>Max Places</th>
					<th>Free Places</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>{{car.car_id}}</b></td>
					<td>{{car.driverName}}</td>
					<td>{{car.departure}}</td>
					<td>{{car.maxplaces}}</td>
					<td>{{car.freeplaces}}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">Passengers</th>
					<th colspan="2">Connection Time</th>
					<th colspan="2">Connection Place</th>
				</tr>
			<tbody>
				<tr v-for="d in car.dispmembers">
					<td colspan="2" class="text-center">{{d}}</td>
					<td colspan="2" class="text-center">sdasdasd</td>
					<td colspan="2" class="text-center">asdasd</td>
				</tr>
				<tr>
					<td colspan="6">
						
						<form id="car.car_id" class="formclass">
							<div class="form-group">
		 					 	<input type="text" class="contime form-control" v-bind:id="car.car_id" placeholder="Enter Time (YYYY-MM-DD HH:MM:SS)" required>
							</div>
							
							<div class="form-group">
								<input type="text" class="conplace form-control" v-bind:id="car.car_id" placeholder="Enter Place" required>
							</div>
							
							<div class="col-md-12 text-center"> 
							    <button class="btn btn-primary btn-lg" style="width:250px;" v-bind:id="car.car_id" name="applybut" v-on:click="postSubscription($event)" type="submit">Apply</button> 
							</div>
							
					
						</form>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
</div>
</body>


<script>
	
	var app = new Vue({
		el: '#app',
		data: {
			car_id: '',
			allcars: [],
			freeplaces: {},
			dispmembers: {},
			conPlaceId: '',
			conPlaceTime: '',
		},
		methods: {
			getAllCars: function() {
  				var self = this;
  				axios.get("/rideit/index/getallcar")
  					.then(function(response){
  						self.allcars = response.data;
  						for(var i=0;i<self.allcars.length;i++){
  							self.allcars.departure = moment(self.allcars.departure,"YYYY-MM-DD HH:mm:ss");
  							var carmembers = self.allcars[i].members;
  							var splittedMembers = carmembers.split(",").filter(member => member!="");
  							if(carmembers=="") {
  								self.allcars[i].freeplaces = self.allcars[i].maxplaces;
  							} else {
  								var numOfMembers = splittedMembers.length;
  								self.allcars[i].freeplaces = self.allcars[i].maxplaces - numOfMembers;
  							}
  							self.allcars[i].dispmembers = splittedMembers;
  						} 
  						
  					});
  			},
  			postSubscription: function(event) {
  				//console.log(event.target.id)
  				//get clicked id
  				var self = this;
  				self.car_id = event.target.id;
  				console.log(event.target.parentElement);
  				
  				var contimeTag = document.getElementById(self.car_id).getElementsByClassName("contime")[0];
				console.log("contag: " + contimeTag)
				/*
				contimeTag.classList.add("red-text");
				var conplaceTag = document.getElementById(self.car_id).getElementsByClassName("conplace")[0];
				conplaceTag.classList.add("red-text");
				*/
  				axios.post('/rideit/index/subscription',
  					{
  						car_id: self.car_id
  					},
					{ 'content-type': 'text/plain;charset=utf-8' })
					.then(function(response){
						
						//document.getElementById(self.car_id).style.display = 'none';
						//window.location.href="/rideit/index";
					});
  						
  			}
  		},
  		mounted: function() {
			document.getElementById('app').style.display = 'block';
		}, 
		created: function() {
			this.getAllCars();
		}
  		
  		
	});
	
/*
postNewCarData: function() {
	var self = this;
	axios.post('/rideit/index/registernewcar',
		{
			drivername: self.drivername,
		 	password: self.password,
			firstname: self.firstname,
			lastname: self.lastname,
			email: self.email,
			maxplaces: self.maxplaces,
			members: ''
		},
		{ 'content-type': 'text/plain;charset=utf-8' })
		.then(function(response){
			self.result = response;
				});
		},
*/

</script>

</html>






		